div.game
  h3= 'Players: ' + game.players.join(', ')
  -if(game.finished)
    p This game is finished.
    p.text-info= game.content
  -else
    -if(game.currentPlayer === user.username)
      -if(game.sentence)
        p It's your turn. The previous sentence in the story was:
        p.text-info= game.sentence
      -else
        p Start the story off:
      form(action='./game', method='post')
        input(type='hidden', name='gameId', value=game.id)
        textarea(name='sentence')
        br
        input(type='submit')
    -else
      p= 'It is ' + game.currentPlayer + '\'s turn.'